/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font: 20px "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: center;
  color: #333;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bree-serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-weight: 500;
  color: #505E58;
  line-height: 1.2em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2em;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #249E8A; text-decoration: none; }
a:hover   { color: #1BBDA3; text-decoration: underline; }

code, pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  margin-bottom: 1em;
}

ul.posts span {
  color: #aaa;
  font-family: "bree-serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  min-width: 256px;
  max-width: 700px;
  margin: 2em auto;
  line-height: 1.5em;
  width: 80%;
}

.site .header .block-et {
  display: inline-block;
  background: #32FFAD;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 2em;
  font-weight: bold;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  color: #136464;
  line-height: 1em;
  transition: color 0.5s ease;
}

.block-et:hover h1.title {
  color: #333;
}

.site .meta {
  font-family: "bree-serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 300;
  color: #aaa;
}

.site .footer {
  font-size: 0.8em;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
}

.site .footer .social {
  float: right;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post ul, .post ol {
  margin-top: 1em;
  margin-left: 1.35em;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
}

.post pre.terminal code {
  background-color: #333;
}

.post blockquote {
  border-left: 0.5em solid #e0e0e0;
  padding-left: 1em;
  color: gray;
}

.footnotes {
  font-size: 0.9em;
  margin-top: 40px;
  border-top: 1px solid #D3D3D3;
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/

img {
  width: 100%;
  border: 2px solid #ddd;
}

/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/

.post pre {
  display: block;
  padding: 0.4em 0.8em;
  font-size: 0.8em;
  white-space: pre;
}

/* inline code */
.post p > code {
  background-color: #F7F7F7;
  border: 1px solid #ddd;
  padding: 0 0.2em;
  font-size: 0.9em;
}

.post pre code {
  border: none;
}

.highlight {
  width: 100%;
  overflow: auto;

  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/*****************************************************************************/
/*
/* Breakpoints for Smaller Devices
/*
/*****************************************************************************/

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}

/*****************************************************************************/
/*
/* SVG icons
/*
/*****************************************************************************/

.webicon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
  text-indent: -999em;
  text-align: left;
  margin-left: 0.3em;
  opacity: 0.8;
  transition: opacity 0.5s;
}

.webicon:hover {
  opacity: 1.0;
}

.webicon.webicon-github {
  background-image: url('github.svg');
}

.webicon.webicon-twitter {
  background-image: url('twitter.svg');
}
