---
---

@import 'normalize'; // normalize all the things
@import 'bigfoot'; // footnotes
@import 'prism'; // syntax highlighting

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  color: #333;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  color: #505E58;
  line-height: 1.2em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1.1em;
}

p { margin: 1em 0; }

a         { color: #249E8A; text-decoration: none; }
a:hover   { color: #1BBDA3; text-decoration: underline; }

code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.article-list {
  padding: 0;

  li {
    list-style-type: none;
  }
}

.posts {
  article {
    margin-bottom: 1em;
  }

  .month {
    margin-top: 2.5em;
    margin-bottom: 1em;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  max-width: 34em;
  margin: 0 auto;
  line-height: 1.6em;
  padding: 0 1em;
}

.header {
  margin-top: 1em;

  .block-et {
    display: inline-block;
    background: #32FFAD;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0;
    color: #136464;
    line-height: 1em;
    transition: color 0.5s ease;
    font-size: 1.6em;
    font-family: "proxima-nova", sans-serif;

    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
}

.footer {
  font-size: 0.8em;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding: 1em 0;

  .contact {
    float: left;
    font-family: "proxima-nova", sans-serif;
    line-height: 1.4em;
  }

  .social {
    float: right;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.article-body ul, .article-body ol {
  margin-top: 1em;
  margin-left: 1.35em;
}

.article-title {
  margin-bottom: 0;
}

.article-date {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  color: #aaa;
  font-size: 0.8em;
}

.article-byline {
  display: none;
}

.article-body blockquote {
  border-left: 0.5em solid #e0e0e0;
  padding-left: 1em;
  color: gray;
}

.footnotes {
  font-size: 0.9em;
  margin-top: 40px;
  border-top: 1px solid #D3D3D3;
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/

img {
  width: 100%;
  border: 2px solid #ddd;
}

/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/

$code-bg: #FCFCFC;

.article-body pre {
  display: block;
  padding: 0.4em 0.8em;
  line-height: 1.5em;
  font-size: 0.8em;
  white-space: pre;

  overflow: auto;

  border: 1px solid #ddd;
  border-radius: 0.4em;
  background-color: $code-bg;
}

/* inline code */
.article-body p > code {
  background-color: $code-bg;
  border: 1px solid darken($code-bg, 20%);
  border-radius: 0.4em;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 0; // don't interfere with line height of the line
}

.article-body pre code {
  border: none;
}

/*****************************************************************************/
/*
/* Breakpoints for Smaller Devices
/*
/*****************************************************************************/

@media only screen and (max-width: 30em) {
  body {
    font-size: 16px;
  }
}

/*****************************************************************************/
/*
/* SVG Icons
/*
/*****************************************************************************/

img.iconic {
  // img's are iconic placeholders so hide them until
  // iconic can replace them with svg's
  display: none;
}

.iconic-social {
  width: 32px;
  height: 32px;
  opacity: 0.5;
  margin-left: 0.5em;

  &:hover {
    opacity: 0.7;
  }
}

/*****************************************************************************/
/*
/* Clearfix
/*
/*****************************************************************************/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
