---
layout: default
title: Eric Trinh
---

<div class="posts">
  {% for post in site.posts %}
      {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
      {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
          {% if month != nmonth %}
              {% if forloop.index != 1 %}</ul>{% endif %}
              <h3>{{ post.date | date: '%B %Y' }}</h3><ul class="article-list">
          {% endif %}
      <li>
        <article class="article">
          <span class="article-title">
            <a class="article-link" href="{{ post.url }}">{{ post.title }}</a>
          </span>
        </article>
      </li>
  {% endfor %}
  </ul>

</div>
