<footer class="footer">
  <div class="contact">
    <p>
    <span class="name">Eric Trinh</span><br />
    <span class="title">Web Developer</span><br />
    <span class="email"><a href="mailto:me@erictrinh.com">me@erictrinh.com</a></span>
    </p>
  </div>
  <div class="social">
    <p>
      <a href="https://github.com/erictrinh"><img class="iconic iconic-md" data-src="/images/iconic/social.svg" data-type="github" alt="Github"></a>
      <a href="https://twitter.com/eric_trinh"><img class="iconic iconic-md" data-src="/images/iconic/social.svg" data-type="twitter" alt="Twitter"></a>
    </p>
  </div>
</footer>
