<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="initial-scale=1.0">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="//use.typekit.net/weu6hli.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="site">
      <div class="header">
        <a href="/">
          <div class="block-et">
              <h1 class="title">{{ site.name }}</h1>
          </div>
        </a>
      </div>

      {{ content }}

      <div class="footer">
      <div class="contact">
        <p>
        Eric Trinh<br />
        Web Developer<br />
        me@erictrinh.com
        </p>
      </div>
      <div class="contact">
        <p>
        <a href="https://github.com/erictrinh">github.com/erictrinh</a><br />
        <a href="https://twitter.com/eric_trinh">twitter.com/eric_trinh</a><br />
        </p>
      </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41921449-1', 'erictrinh.com');
      ga('send', 'pageview');
    </script>

  </body>
</html>
